.chat-list {

    &--list {
      border: 1px solid black;
      border-bottom: 0;
      border-radius: 5px;
    }

    &--message {
        border-bottom: 1px solid black;
        font-size: 16px;
        padding: 7px;

        &:nth-child(even) {
            background-color: lightskyblue;
        }

        &:nth-child(odd) {
            background-color: lightcyan;
        }
    }
}