.chat-screen {
    border: 1px solid gray;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    padding: 10px;
    width: 80%;

    &--input-block {
        margin: 0 auto;
        width: 74%;
    }
}