.chat-screen {
    border: 1px solid gray;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    padding: 10px;
    width: 80%;

    &--input-block {}

    &--left-block {
        display: inline-block;
        //height: 100%;
        width: 77%;
    }

    &--service-state {
        position: relative;
        bottom: 13px;
        left: 13px;
        color: gray;

        &_error {
            color: red;
        }

        &_successful {
            color: green;
        }
    }

    &--wrapper {
        //height: 99%;
    }

    &--right-block {
        display: inline-block;
        float: right;
        width: 20%;
    }
}