.chat-list {

    &--list {
        height: 700px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &--message {
        font-size: 16px;

        &:nth-child(even) {
            background-color: lightskyblue;
        }

        &:nth-child(odd) {
            background-color: lightcyan;
        }
    }
}