.chat-list {

    &--list {}

    &--message {
        font-size: 16px;
        padding: 7px;

        &:nth-child(even) {
            background-color: lightskyblue;
        }

        &:nth-child(odd) {
            background-color: lightcyan;
        }
    }
}